@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  min-height: 100%;
  /* iOS safe area handling */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

body {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: contain;
}
